@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment _env;

@{
    ViewData["Title"] = "Usuario";
}

<div class="text-center">
    <h1 class="display-4">Usuario</h1>
    <p>Usuario</p>

    <p>
        <button id="btnExportarExcel" class="btn btn-tool" title="Exportar Excel">Exportar Excel</button>
    </p>
</div>

@section scripts{

    <script type="text/javascript">

        var urlBuscarUsuario = '@Url.Action("BuscarUsuario", "Usuario", new { area = "" })';
        var urlGrabarUsuario = '@Url.Action("GrabarUsuario", "Usuario", new { area = "" })';
        var urlExportarExcel = '@Url.Action("ExportarExcel", "Usuario", new { area = "" })';

    </script>

    @if (_env.EnvironmentName == "Development")
    {
        <script type="text/javascript" src="~/js/Usuario/Index.js"></script>
    }
    else
    {
        <script type="text/javascript" src="~/js/Usuario/Index.min.js" asp-append-version="true"></script>
    }
}